allow bootanim device:chr_file { ioctl };
allow bootanim device:chr_file { read write };
allow bootanim sysfs:file { read };
allow bootanim sysfs:file { open };
allow bootanim sysfs:file { getattr };
allow bootanim device:chr_file { open };
