allow hal_audio_default smartamp_device:chr_file rw_file_perms;
allow hal_audio_default sysfs:file { read };
allow hal_audio_default sysfs:file { open };
allow hal_audio_default sysfs:file { getattr };
