allow hal_gnss_default sysfs:dir { read };
allow hal_gnss_default sysfs:dir { open };
allow hal_gnss_default sysfs:file { read };
allow hal_gnss_default sysfs:file { open };
allow hal_gnss_default device:chr_file { read };
allow hal_gnss_default device:chr_file { open };
allow hal_gnss_default self:socket { create };
allow hal_gnss_default self:socket { ioctl };
allow hal_gnss_default self:socket { write };
allow hal_gnss_default self:socket { read };
allow hal_gnss_default system_data_file:file { write };
allow hal_gnss_default system_data_file:file { open };
allow hal_gnss_default system_data_file:file { getattr };
allow hal_gnss_default system_data_file:file { setattr };
allow hal_gnss_default system_data_file:file { read };
allow hal_gnss_default system_data_file:file { ioctl };
allow hal_gnss_default system_data_file:file { lock };
allow hal_gnss_default system_file:file { lock };
allow hal_gnss_default self:udp_socket { create };
allow hal_gnss_default system_data_file:file { lock };
allow hal_gnss_default system_data_file:file { getattr };
allow hal_gnss_default vndbinder_device:chr_file { read };
allow hal_gnss_default vndbinder_device:chr_file { write };
allow hal_gnss_default vndbinder_device:chr_file { open };
allow hal_gnss_default vndbinder_device:chr_file { ioctl };
allow hal_gnss_default sysfs:file { getattr };
allow hal_gnss_default system_data_file:dir { write };
allow hal_gnss_default system_data_file:dir { add_name };
allow hal_gnss_default system_data_file:file { create };
allow hal_gnss_default system_data_file:file { read write open };
allow hal_gnss_default system_data_file:dir { read };
allow hal_gnss_default system_data_file:dir { open };
allow hal_gnss_default system_data_file:dir { remove_name };
allow hal_gnss_default self:socket { read };
allow hal_gnss_default ssr_device:chr_file { read };
allow hal_gnss_default ssr_device:chr_file { open };
