allow qti_init_shell bluetooth_loader_exec:file { getattr };
allow qti_init_shell bluetooth_loader_exec:file { execute };
allow qti_init_shell bluetooth_loader_exec:file { read open };
allow qti_init_shell bluetooth_loader_exec:file { execute_no_trans };
allow qti_init_shell bluetooth_efs_file:dir { search };
allow qti_init_shell bluetooth_efs_file:file { read };
allow qti_init_shell bluetooth_efs_file:file { open };
allow qti_init_shell bluetooth_efs_file:file { getattr };
allow qti_init_shell file_contexts_file:file { read };
allow qti_init_shell file_contexts_file:file { getattr };
allow qti_init_shell file_contexts_file:file { open };
allow qti_init_shell sysfs_android_usb:file { write };
allow qti_init_shell radio_core_data_file:file { write };
allow qti_init_shell radio_core_data_file:file { open };
allow qti_init_shell radio_core_data_file:dir { getattr };
allow qti_init_shell radio_core_data_file:dir { read };
allow qti_init_shell radio_core_data_file:dir { open };
allow qti_init_shell radio_core_data_file:dir { write };
allow qti_init_shell radio_core_data_file:dir { remove_name };
allow qti_init_shell radio_core_data_file:dir { rmdir };
allow qti_init_shell radio_core_data_file:dir { add_name };
allow qti_init_shell radio_core_data_file:dir { create };
allow qti_init_shell radio_core_data_file:dir { setattr };
allow qti_init_shell bluetooth_loader_exec:file r_file_perms;
allow qti_init_shell btnvtool_exec:file rx_file_perms;
allow qti_init_shell hci_attach_dev:chr_file rw_file_perms;
allow qti_init_shell qmuxd_socket:dir search;
allow qti_init_shell sysfs_android_usb:file rw_file_perms;
allow qti_init_shell toolbox_exec:file { getattr };
allow qti_init_shell toolbox_exec:file { execute };
allow qti_init_shell toolbox_exec:file { read open };
allow qti_init_shell toolbox_exec:file { execute_no_trans };
