allow recovery selinuxfs:file { write };
allow recovery sysfs:file { getattr };
allow recovery sysfs:file { write };
allow recovery sysfs:file { open };
allow recovery self:process { execmem };
allow recovery ashmem_device:chr_file { execute };
allow recovery rootfs:dir { write };
allow recovery rootfs:dir { add_name };
allow recovery rootfs:lnk_file { create };
allow recovery rootfs:file { write };
allow recovery self:netlink_kobject_uevent_socket { create };
allow recovery self:netlink_kobject_uevent_socket { bind };
allow recovery media_rw_data_file:dir { getattr };
allow recovery vndservice_contexts_file:file { getattr };
allow recovery tmpfs:fifo_file { create };
allow recovery tmpfs:fifo_file { read };
allow recovery tmpfs:fifo_file { open };
allow recovery self:netlink_kobject_uevent_socket { read };
allow recovery media_rw_data_file:dir { read };
allow recovery media_rw_data_file:dir { open };
allow recovery media_rw_data_file:file { getattr };
allow recovery self:capability { sys_resource };
allow recovery init:file { read };
allow recovery self:capability { sys_ptrace };
allow recovery kernel:file { read };
allow recovery init:dir { search };
allow recovery init:file { open };
allow recovery system_data_file:dir { write };
allow recovery system_data_file:dir { add_name };
allow recovery system_data_file:file { create };
allow recovery system_data_file:file { read write open };
allow recovery system_data_file:dir { remove_name };
allow recovery system_file:file { write };
allow recovery system_file:file { setattr };
allow recovery system_file:file { relabelfrom };
allow recovery system_file:file { unlink };
allow recovery media_rw_data_file:file { write };
