allow vendor_init radio_core_data_file:file { write };
allow vendor_init radio_core_data_file:file { open };
allow vendor_init radio_core_data_file:file { setattr };
allow vendor_init proc:file { write };
allow vendor_init tombstone_data_file:dir { search };
allow vendor_init tombstone_data_file:dir { write };
allow vendor_init tombstone_data_file:dir { add_name };
allow vendor_init tombstone_data_file:dir { create };
allow vendor_init tombstone_data_file:dir { setattr };
allow vendor_init unlabeled:dir { search };
allow vendor_init unlabeled:dir { setattr };
allow vendor_init system_data_file:dir { write };
allow vendor_init system_data_file:dir { add_name };
allow vendor_init system_data_file:dir { create };
allow vendor_init system_data_file:dir { setattr };
allow vendor_init camera_data_file:dir { create };
allow vendor_init camera_data_file:dir { setattr };
allow vendor_init bluetooth_data_file:dir { setattr };
allow vendor_init dhcp_data_file:dir { setattr };
allow vendor_init system_data_file:file { create };
allow vendor_init system_data_file:file { write open };
allow vendor_init system_data_file:file { setattr };
allow vendor_init audio_data_file:dir { create };
allow vendor_init audio_data_file:dir { setattr };
allow vendor_init proc:file { write };
allow vendor_init radio_data_file:file { write };
allow vendor_init radio_data_file:file { setattr };
allow vendor_init radio_data_file:file { create };
allow vendor_init firmware_file:dir { search };
allow vendor_init radio_data_file:file { open };

#allow vendor_init dpmd_data_file:dir { getattr setattr };
